/*EN ESTE ARCHIVO SE AGREGARAN EXTERNAMENTE LOS ESTILOS DEL PROYECTO QUE SERAN LEIDOS POR EL FICHERO XSL*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Great Vibes', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
}

.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagenFondo {
    width: 100%;
    padding: 0% 0% 40% 0%;
}